/* Media Queries */
@media screen and (max-width: 480px) {
    header nav, #main {
        float: left;
        clear: left;
        margin: 0 0 10px;
        width: 100%;
    }

	nav ul li {
		display: block;
	}
	
	#burger {
		display: block;
	}
	
	#navigationLinks {
		display: none;
	}
}