html, body{
    margin: 0;
}

p {
    color: #666666;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #2a2a2a;
}

/*a:visited {*/
    /*font-weight: normal;*/
/*}*/

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
}

/* Nav */
header {
    background-color: #eee;
    width: 100%;
    padding: 20px 0;
}

nav {
    text-align: center;
    background: rgba(255,138,30,0.3);
    padding: 1px;
}
nav ul {
    height: 19px;
    list-style:none; }

nav ul li {
    display:inline;
}

nav ul li a {
    padding: 20px;
    background: rgba(255, 138, 30, 0.3);
    text-decoration: none;
    font: bold 14px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

nav ul li a:hover {
    background-color: rgb(255, 173, 10) !important;
}

nav ul li a.active {
    background: rgba(255, 138, 30, 0.8) !important;
}

/* Structure */
#wrapper {
    width: 100%;
}

#content {
    width: 80%;
    max-width: 920px;
    margin: auto;
}
